<p><%= t('users.user_mailer.welcome_email.greeting', name: @user.name) %></p>

<p><%= t('users.user_mailer.welcome_email.thank_you') %></p>

<p><%= t('users.user_mailer.welcome_email.completed_registration') %></p>

<p><%= link_to t('users.user_mailer.welcome_email.login_instruction'), "https://memory-20250515.onrender.com/users/sign_in" %></p>
