<h2><%= @album.title %></h2>

<% if @photos.present? %>
  <% @photos.each do |photo| %>
    <% photo.images.each do |image| %>
      <div class="mb-4">
        <%= image_tag image.url, class: "w-48 h-48 object-cover border rounded" %>
        <p><%= photo.comment %></p>
      </div>
    <% end %>
  <% end %>
<% end %>
